<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars App</title>
    
</head>
<body>
    <a href="/cars/">Your Collection</a>
    <a href="/cars/new">Add a Car</a>
    <h1>Welcome to the Cars App!</h1>
    <p>Are you a Car lover? This website is all about it!</p>
    <p> Keep track of which cars are made for Speed and which ones will Burn Out!</p>

</body>
</html>