<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars index</title>
</head>
<body>
    <h1>All kinds of Cars</h1>

<body>
    <a href="/cars/">All Cars</a>
    <h1>All Cars</h1>
    <a href="/cars/new">Add new Car</a>
 

</body>
    
</body>
</html>