<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Collection</title>
</head>

<body>
    <a href="/cars/">Your Collection</a>
    <a href="/cars/new">Add New Car</a>
    <h1>Cars</h1>
 <ul>
    <% cars.forEach(car => { %>
        <li>
            <a href="/cars/<%= car._id %>"><%= car.make %> <%= car.model%></a>
        </li>
        <% }); %>
 </ul>
</body>
    
</body>
</html>