<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Your Car</title>
    </head>

    <body>
        <a href="/cars">Back to Cars</a>
     <h1>Car Edit - <%= car.make %></h1>
    <form method="POST" action="/cars/<%=car._id%>?_method=PUT">

        <label for="make">Make:</label>
        <input type="text" name="make" id="make" value="<%= car.title %>" />


        <label for="model">Model:</label>
        <input type="text" name="model" id="model" value="<%= car.model %>" />


        <label for="isFast">Is it Built for Speed?</label>
        <input type="checkbox" name="isFast" id="isFast" <% if (car.isFast) { %>checked<% } %> >


    <button type="submit">Update</button>

        </form>

    </body>
</html>

