<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Your Car!</title>
</head>

<body>
    <a href="/cars/">All Cars</a>
    <h1>Add Your Car!</h1>
    <form action="/cars" method="POST">



    </form>

</body>
</html>