<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Car!</title>
</head>

<body>
    <a href="/cars/">Your Collection</a>
    <a href="/">Home Page</a>
    <h1>Add Your Car!</h1>
    <form action="/cars" method="POST">
        <label for='make'>Make:</label>
        <input type="text" name="make" id="make"/>

        <label for='model'>Model:</label>
        <input type="text" name="model" id="model"/>
        
        <label for="isFast">Is it Built for Speed?</label>
        <input type="checkbox" name="isFast" id="isFast"/>

        <button type="submit">Add Car </button>
    </form>

</body>
</html>