<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Car</title>
</head>
<body>
    <h1><%=car.make %> <%= car.model %></h1>
    <% if (car.isFast) { %>
        <p>This Car is Built for Speed</p>
        <% } else { %>
            <p>This Car is slow!</p>
            <% } %>

 <form method="POST" action="/cars/<%= car._id%>?_method=DELETE">
    <button type="submit">Delete Car</button>
 </form>  
    
</body>
</html>